@import "tailwindcss";

@theme {
  /* Primary Color */
  --color-primary: #ed6842;
  --color-primary-foreground: #ffffff;

  /* Background & Foreground */
  --color-background: #ffffff;
  --color-foreground: #0f172a;

  /* Muted */
  --color-muted: #f1f5f9;
  --color-muted-foreground: #64748b;

  /* Card */
  --color-card: #ffffff;
  --color-card-foreground: #0f172a;

  /* Popover */
  --color-popover: #ffffff;
  --color-popover-foreground: #0f172a;

  /* Border */
  --color-border: #e2e8f0;
  --color-input: #e2e8f0;

  /* Ring */
  --color-ring: #ed6842;
}

.swiper-slide {
  max-width: fit-content;
}
